@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul{
    list-style-type: none;
}

.navbar-fixed-top{
    background-color: #000;
}

.navbar-fixed-top .navbar-itens{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;
    padding: 0px 20px;
}

.navbar-fixed-top .navbar-itens .navbar-links ul{
    display: flex;
    flex-direction: row;

    float: right;
    margin-right: -15px;

}

.navbar-fixed-top .navbar-itens .navbar-links ul li{
    padding: 20px;
}

.container .row .col-xs-12 .text{
    background-color: #eee;

    margin: 0px 50px 0px 50px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 48px 60px 48px 60px;

}

.container .row .col-xs-12 .text h1{
    display: flex;
    font-size: 63px;
    margin: 20px auto 10px 0;
    border-right: 2px solid#3b3a3b ;
    color: #3b3a3b;

    white-space: nowrap;
    overflow: hidden;
}

.container .row .col-xs-12 .text p{
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
}


.container .row .col-xs-12 .article{
    margin: 0px 50px 0px 50px;
    padding: 30px 60px 30px 60px;
    text-align: center;
}

.container .row .col-xs-12 .article h3{
    color: #3b3a3b;
}

.typing-animation {
    animation: blinkCursor 1000ms steps(40) infinite normal, typing 3s steps(40) 1s normal both;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 5.9em;
    }
    
}
@keyframes blinkCursor{
    from {
        border-right-color: #3b3a3b;
    }
    to {
        border-right-color: transparent;
    }
}